<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WVRNet.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WVRNetFrameworks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A125463B1F0B798500EDB7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12546431F0B798500EDB7CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B840A61EB8373E007CA26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B840BF1EB8373F007CA26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B840CA1EB8373F007CA26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B8475F1EB88B8D007CA26C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
